body {
    width: 850px;
    margin: 0 auto;
}

main {
    background-image: url(/images/galaxy.avif);
    background-size: cover;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-family: acme;
}

section {
    display: flex;
    justify-content: space-evenly;
    background-color: #ece8e8;
}

form{
    margin-top: 10%;
}

p{
    margin: 1%;
    color: #8b8787;
}

h2{
    margin-bottom: 5%;
}